{% extends 'base.html' %}

{% block content %}

    <div>
        <h3>Adjust Shipment Dates</h3>
        <form action="" method="post" name="adjust-dates">
            {{ form.csrf_token }}

            <div class="ids">
                <h4>Shipment IDs</h4>
                {{ form.shipment_id(class='ids') }}
            </div>
            <div class="option">
                <div class="date-option">
                    {{ options[0] }} Move to {{ form.shipment_date }}
                </div>
                <div class="month-option">
                    {{ options[1] }} Move by {{ form.shipments_month_change }} months
                </div>
            </div>
            {{ form.submit }}
        </form>
    </div>

{% endblock %}

{% block js %}{% endblock %}