{% extends 'base.html' %}

{% block content %}

    <div>
        <h3>Adjust Dates</h3>
        <form action="" method="post" name="adjust-dates">
            <table>
            {{ form.csrf_token }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% if field.type != "SubmitField" %}
                <th>{{ field.label }}</th>
                {% endif %}
                <tr>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            </table>
        </form>
    </div>

{% endblock %}