{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h3>Add Tracking</h3>
        <form action="" method="post" name="login">
            <table>
            {% for field in form %}
                <thead>
                    <th>{{ field.label }}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ field }}</td>
                    </tr>
                </tobdy>
            {% endfor %}
            </table>
        </form>
    </div>

{% endblock %}